{% extends "layout/full_width.html.twig" %}

{% block content %}
    <h1>{{ title }}</h1>

    <a href="#" class="btn btn-primary">Primary</a>
    <p>{{ content }}</p>
    <span>Date du jour : {{ date|date("d/m/Y") }}</span>
    <ul>
        {% for d in data %}
            <li>{{ d }}</li>
        {% endfor %}
    </ul>
{% endblock %}
