{% extends "layout/full_width.html.twig" %}

{% block content %}   
    <div class="row">
        {% for annonce in annonces %}
            <div class="card col">
                <div class="card-body">
                    <h5 class="card-title">{{ annonce.title }}</h5>
                    <p class="card-text">{{ annonce.description }}</p>
                    <a href="#" class="btn btn-primary">Détail</a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
