<article>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat expedita ipsum deserunt eos iste neque doloribus hic veniam, perspiciatis placeat possimus voluptate nisi, laborum voluptas, deleniti blanditiis voluptatibus quo qui?</p>
</article>